#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Titillium Web', sans-serif;
}

#tasks-header {
	font-size: 32px;
	margin-bottom: 16px;
}

#tasks {
	margin-bottom: 16px;
}

.task {
	margin-bottom: 8px;
}

.name, .save {
	margin-right: 8px;
}

input, button {
	font-size: 16px;
	padding: 8px;
}